﻿
@{
    ViewData["Title"] = "Resizable Panels";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Resizable panels</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @* <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a> *@
            </li>
            <li class="breadcrumb-item">
                <a>Tables</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Resizable panels</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="resizable-panels">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            Resizable
                        </h5>
                        <div class="ibox-tools">
                            <label class="label label-primary">Resize me!</label>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            This is simple box container nr. 1
                        </h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            damian
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            This is simple box container nr. 2
                        </h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            damian
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            This is simple box container nr. 3
                        </h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            damian
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            This is simple box container nr. 4
                        </h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".ibox").resizable({
                helper: "ui-resizable-helper",
                grid: 20
            });

        });
    </script>
}

