﻿<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i class="fa fa-bars"></i> </span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="#"><i class="fa fa-sign-out"></i> Log out</a>
            </li>
        </ul>
    </nav>
</div>